.PlayerFirst {
    text-align: center;
  }
  
  .ScorePlayer {
    margin-left: 20%;
    padding: 1%;
  }
  .ScorePlayer2 {
    margin-right: 20%;
    padding: 1%;
  }
  
  .Scoreboard {
    display: flex;
    justify-content: space-between;
  }
  
  .ChoiceRow,
  .ChoiceRow2 {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .UserChoice {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .ChoiceButton {
    background: black;
    color: whitesmoke;
    width: 10vh;
    height: 5vh;
  }
  